<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Imdb copy
        </title>
    </head>
    <body>
        <h1>
            Pick one of your favourite fruit
        </h1>
        <form action="/fav_fruit" method="post">
            {% for fruit in fruits%}
            <label>
                <input type="radio" name='fruit' value='{{ fruit }}'/>
                {{ fruit }}
            </label>
            <br/>
            {% endfor %}
            <button type="submit">
                send
            </button>
        </form>
    </body>
</html>
