<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Imdb copy
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <h1>
            Movies show
        </h1>
        <ul>
            {% for movie in movies %}
            <li>
                <a href="https://www.google.com">
                    {{ movie.title }}
                </a>
                -released in {{ movie.year }}
            </li>
            {% else %}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus enim impedit maiores veritatis corrupti blanditiis molestias, hic illum architecto doloremque ad nostrum necessitatibus. Voluptatibus et aliquid est vitae dolor quia.
            </p>
            {% endfor %}
        </ul>
    </body>
</html>
